@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    display: flex;
    color: #ffffff;
    font-weight: 600;
    overflow: hidden;
    justify-content: center;
    background-color: rgb(34 40 49/1);
}

a {
    color: #ffffff;
    text-decoration: none;
}

b {
    color: rgb(248 98 98/1);
}

.box {
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
}

.text {
    font-size: 1rem;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.footer {
    gap: 12px;
    bottom: 3%;
    display: flex;
    position: fixed;
    font-size: .8rem;
}